<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index 2</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
    integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
    <style>
    #index{
        text-align: center;
        justify-content: center;
        margin: 3rem;
        height: 500px;
        background-image: linear-gradient(120deg,#16a2bb,#041649e7);
    }
    #index p{
        font-size: 2.5rem;
        top: 30%;
        width: min(36ch,100%);
        margin-inline: auto;
        padding-top: 11rem;
        color: white;
    }
    </style>
</head>
<body>
    <section>
        <div id="index">
            <p><b>Technology</b> isn't about the largest gadgets or apps. It's about what these things do for people. It's about bringing people together and <b>making lives better</b></p>
        </div>
    </section>
</body>
</html>